= simple_form_for(@user) do |f|
  = f.error_notification

  .form.form-horizontal
    .form-inputs
      - @user.attributes.first(5).each do |key, value|
        - unless key == "id"
          = f.input :"#{key}"

    .form-actions
      = f.button :submit, :class => 'btn-primary'
