= simple_form_for(@restaurant) do |f|
  = f.error_notification

  .form-horizontal
    .row
      .span12
        %img#restaurant_picture_img
    %br
    %br
    .row
      .span6
        .control-group
          .control-label= f.label t(:picture_restaurant_label)
          .controls= f.input_field :picture
        .control-group
          .control-label= f.label t(:name_restaurant_label)
          .controls= f.input_field :name
        .control-group
          .control-label= f.label t(:speciality_restaurant_label)
          .controls= f.input_field :speciality
        .control-group
          .control-label= f.label t(:type_restaurant_label)
          .controls= f.input_field :restaurant_type
        .control-group
          .control-label= f.label t(:address_restaurant_label)
          .controls= f.input_field :address
        .control-group
          .control-label= f.label t(:budget_min_restaurant_label)
          .controls= f.input_field :budget_min
        .control-group
          .control-label= f.label t(:budget_max_restaurant_label)
          .controls= f.input_field :budget_max
        .control-group
          .control-label= f.label t(:description_restaurant_label)
          .controls= f.input_field :description, :as => :text
        .control-group
          .control-label= f.label t(:time_to_go_restaurant_label)
          .controls= f.input_field :time_to_go






      = f.simple_fields_for :ratings, f.object.ratings.new do |note|

        .span6
          .control-group
            .control-label= note.label t(:quality_service_restaurant_label)
            .controls= note.input_field :quality_service, :collection => 0..10, :prompt => t(:mark_prompt)
          .control-group
            .control-label= note.label t(:quantity_restaurant_label)
            .controls= note.input_field :quantity, :collection => 0..10, :prompt => t(:mark_prompt)
          .control-group
            .control-label= note.label t(:quality_food_restaurant_label)
            .controls= note.input_field :quality_food, :collection => 0..10, :prompt => t(:mark_prompt)
          .control-group
            .control-label= note.label t(:ambience_restaurant_label)
            .controls= note.input_field :ambience, :collection => 0..10, :prompt => t(:mark_prompt)



      .row
      - days = [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Satursday", "Sunday" ]
      - days.each do |day|
        = f.simple_fields_for :intervals, f.object.intervals.new do |interval|
          .span4
            .control-group
              .controls= interval.input_field :day, :value => day, :type => 'hidden'
              %h3{:style => "text-align: center"}= t(:"#{day.downcase}")

            .control-group
              .control-label= interval.label t(:opened)
              .controls= interval.input_field :interval_type, :collection => {t(:morning) => "Morning", t(:lunch) => "Lunch", t(:afternoon) => "Afternoon", t(:evening) => "Evening"}, :as => :check_boxes


  .form-actions
    = f.button :submit, :class => "btn-primary"
