= simple_form_for(@restaurant) do |f|
  = f.error_notification

  .form-horizontal
    .row
      .span12
        %img#restaurant_picture_img
    %br
    %br
    .row
      .span6
        - @restaurant.attributes.each do |key, value|
          - unless ["id", "longitude", "latitude", "description"].include?(key)
            .control-group
              .control-label= f.label t(:"#{key}_restaurant_label")
              .controls= f.input_field :"#{key}"

      .span6
        .control-group
          .control-label= f.label t(:description_restaurant_label)
          .controls= f.input_field :description, :as => :text, :rows => 10, :class => "span4"


      - if @restaurant.new_record?
        .row
        - days = [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Satursday", "Sunday" ]
        - days.each do |day|
          = f.simple_fields_for :intervals, f.object.intervals.new do |interval|
            .span4
              .control-group
                .controls= interval.input_field :day, :value => day, :type => 'hidden'
                %h3{:style => "text-align: center"}= t(:"#{day.downcase}")

              .control-group
                .control-label= interval.label t(:opened)
                .controls= interval.input_field :interval_type, :collection => {t(:morning) => "Morning", t(:lunch) => "Lunch", t(:afternoon) => "Afternoon", t(:evening) => "Evening"}, :as => :check_boxes


  .form-actions
    = f.button :submit, :class => "btn-primary"


  %br
  %br