= simple_form_for(@restaurant) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :address
    = f.input :budget
    = f.input :quality
    = f.input :quantity
    = f.input :time_to_go
    = f.input :lundi
    = f.input :mardi
    = f.input :mercredi
    = f.input :jeudi
    = f.input :vendredi

  .form-actions
    = f.button :submit
