%h1 Listing restaurants

%table.table.table-striped
  %tr
    %th #Name
    %th
      %i.icon-plus
    %th
      %i.icon-minus
    %th #Votes positifs
    %th #Votes négatifs
    %th #Total votes


  - @restaurants.each do |restaurant|
    -if restaurant.votes.count > 0 && restaurant.votes.last.updated_at == Date.today
      %tr
        %td= link_to restaurant.name, restaurant
        %td
          = link_to '<i class="icon-thumbs-up" style="font-size: 24px;"></i>'.html_safe, upvote_restaurant_path(restaurant)
        %td
          = link_to '<i class="icon-thumbs-down" style="font-size: 24px;"></i>'.html_safe, downvote_restaurant_path(restaurant)
        %td
          -user = restaurant.votes.map { |vote| vote.voter.first_name if (vote.updated_at == Date.today && vote.vote_flag == true) }.compact.join(', ')
          %span.badge.badge-success{:rel => "popover", "data-content" => "#{user}", "data-original-title" => "Votants"}=restaurant.votes.count(:all, :conditions => {:updated_at => Time.now.midnight..(Time.now.midnight + 1.day), :vote_flag => true})
        %td
          -user = restaurant.votes.map { |vote| vote.voter.first_name if (vote.updated_at == Date.today && vote.vote_flag == false) }.compact.join(', ')
          %span.badge.badge-important{:rel => "popover", "data-content" => "#{user}", "data-original-title" => "Votants"}=restaurant.votes.count(:all, :conditions => {:updated_at => Time.now.midnight..(Time.now.midnight + 1.day), :vote_flag => false})
        %td
          -user = restaurant.votes.map { |vote| vote.voter.first_name if vote.updated_at == Date.today }.compact.join(', ')
          %span.badge.badge-info{:rel => "popover", "data-content" => "#{user}", "data-original-title" => "Votants"}=restaurant.votes.count(:all, :conditions => {:updated_at => Time.now.midnight..(Time.now.midnight + 1.day)})
%br
%br
%br

= link_to 'New Restaurant', new_restaurant_path, :class => "btn btn-primary", :style => "color:white!important;"
-if current_user.has_role? :admin
  = link_to 'Restaurants', restaurants_path, :class => "btn btn-primary", :style => "color:white!important;"
