- alone = String.new
- alone = @alone.map { |alone| alone.first_name + " " + alone.last_name.upcase }.compact.join(', ') unless @alone.blank?
%h1 Listing restaurants

%table.table.table-striped
  %tr
    %th= t(:name)
    %th= t(:budget)
    %th= t(:average)
    %th= t(:opened)
    %th
      %i.icon-plus
    %th
      %i.icon-minus
    - if(user_signed_in? && (current_user.has_role? :admin)) 
      %th= t(:actions)

  - @restaurants.each do |restaurant|
    - name = current_user.first_name+" "+current_user.last_name.upcase
    %tr
      %td= link_to restaurant.name, restaurant
      %td #{restaurant.budget_min}€ - #{restaurant.budget_max}€
      %td= restaurant.ratings.blank? ? "Non noté" : restaurant.average
      %td
        = restaurant.intervals.where(:day => Time.now.strftime('%A')).first.closed ? t(:no) : t(:yes)
      %td
        - if alone[name].blank?
          = link_to '<i class="icon-thumbs-up" style="font-size: 24px;"></i>'.html_safe, upvote_restaurant_path(restaurant)
        - else
          %i.icon-thumbs-up{:style => "font-size: 24px;"}
      %td
        - if alone[name].blank?
          = link_to '<i class="icon-thumbs-down" style="font-size: 24px;"></i>'.html_safe, downvote_restaurant_path(restaurant)
        - else
          %i.icon-thumbs-down{:style => "font-size: 24px;"}
      
      - if(user_signed_in? && (current_user.has_role? :admin))  
        %td
          = link_to '<i class="icon-eye-open" style="font-size: 24px;"></i>'.html_safe, restaurant
          = link_to '<i class="icon-pencil" style="font-size: 24px;"></i>'.html_safe, edit_restaurant_path(restaurant)
          = link_to '<i class="icon-remove" style="font-size: 24px;"></i>'.html_safe, restaurant, :confirm => 'Are you sure?', :method => :delete

.btn.btn-inverse
  = link_to dashboard_restaurants_path, :style => "color:white!important;" do
    %i.icon-arrow-left.icon-white
    Back
