%p#notice= notice

%p
  %b Name:
  = @restaurant.name
%p
  %b Budget:
  = @restaurant.budget
%p
  %b Quality:
  = @restaurant.quality
%p
  %b Quantity:
  = @restaurant.quantity
%p
  %b Time to go:
  = @restaurant.time_to_go
%p
  %b Lundi:
  = @restaurant.lundi
%p
  %b Mardi:
  = @restaurant.mardi
%p
  %b Mercredi:
  = @restaurant.mercredi
%p
  %b Jeudi:
  = @restaurant.jeudi
%p
  %b Vendredi:
  = @restaurant.vendredi

= link_to 'Edit', edit_restaurant_path(@restaurant)
\|
= link_to 'Back', restaurants_path
