%p#notice= notice

.page-header
  %h1= @restaurant.name
%br

.row
  .span12
    %img{:src => @restaurant.picture}

%br

.row
  .span2
    %p
      %strong Type:
      = @restaurant.restaurant_type

  .span2
    %p
      %strong Spécialité:
      = @restaurant.speciality


  .span2
    %p
      %strong Budget min:
      = "#{@restaurant.budget_min} €"

  .span2
    %p
      %strong Budget max:
      = "#{@restaurant.budget_max} €"
        
  .span3
    %p
      %strong Temps de marche:
      = "#{@restaurant.time_to_go} minutes"

.row
  .span2
    %p
      %strong Service:
      = "#{@restaurant.ratings.where(:restaurant_id => @restaurant.id).first.quality_service} / 10"

  .span2
    %p
      %strong Nourriture:
      = "#{@restaurant.ratings.where(:restaurant_id => @restaurant.id).first.quality_food} / 10"


  .span2
    %p
      %strong Ambiance:
      = "#{@restaurant.ratings.where(:restaurant_id => @restaurant.id).first.ambience} / 10"

  .span2
    %p
      %strong Quantité:
      = "#{@restaurant.ratings.where(:restaurant_id => @restaurant.id).first.quantity} / 10"

%br

.row
  .span12
    %blockquote
      %p= @restaurant.description
      %strong= @restaurant.name


%table.table.table-striped
  %tr
    %th
    %th #Lundi
    %th #Mardi
    %th #Mercredi
    %th #Jeudi
    %th #Vendredi
  - ["Morning", "Lunch", "Afternoon", "Evening"].each do |inter|
    %tr
      %th= "#" + t(:"#{inter.downcase}")
      - ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"].each do | day|
        %td
          = @restaurant.intervals.where(:day => day).first.interval_type[inter].blank? ? '<span class="red">Fermé</span>'.html_safe : '<span class="green">Ouvert</span>'.html_safe



.btn.btn-inverse
  = link_to restaurants_path, :style => "color:white!important;" do
    %i.icon-arrow-left.icon-white
    Back
.btn.btn-inverse
  = link_to edit_restaurant_path(@restaurant), :style => "color:white!important;" do
    %i.icon-pencil.icon-white
    Edit
%br
%br
%br
%br




